body{
    margin: 0;
    font-family: 微软雅黑;
    font-size: 15px;
    font-weight: 200;
}
.img3{
    float: left;
    width: 30px;
    height: 30px;
    margin: 12px;
}
.headerT{
    color: white;
    float: left;
    margin-left: 6px;
    line-height: 50px;
}
.header{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(36,42,46);
    z-index: 1;
}
.left{
    position: fixed;
    top: 0;
    border-top: rgb(54,64,67) solid 1px;
    width: 50px;
    height: 100%;
    background-color:rgb(37,42,48);
    left: 0;
}
button{
    outline: none !important;
    background-color: rgb(37,42,48);
    width: 100%;
    height: 50px;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 200;
}
button:hover{
    background-color: rgb(3,192,222);
}
button:active{
    background-color: rgb(37,42,48);
}
.button1{
    /*margin-top: 50px;*/
}
.page1{
    margin-top: 50px;
    display: none;
}
textarea{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 80px;
    margin-top: 20px;
    text-indent: 5px;
    border: solid 2px rgb(153,153,153);
}
[name="category"]{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    height: 50px;
    text-indent: 20px;
}
[placeholder="答案"]{
    display: inline;
    width: 20px;
    height: 20px;
}
.answer{
    margin: 0 auto;
    width: 700px;
}
h2{
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
}
.button4{
    display: block;
    width: 300px;
    height: 40px;
    background: rgb(37,42,48);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
}
.page3 {
    display: none;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.backView {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: deepskyblue;
    border-radius: 10px;
    width: 600px;
    height: 200px;
}

.t5 {
    color: white;
    font-size: 30px;
    line-height: 200px;
    text-align: center;
}
[type="checkbox"]{
    font-size: 50px;
}
.page2{
    background-color: white;
    width: 100%;
    height: 100%;
    display: none;
}
.page2 .A,.page2 .B,.page2 .C,.page2 .D{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    text-indent: 20px;
}
.page2 .category,.page2 .answer{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.page2 .title{
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: 500;
}

.pgUp,.pgDn,.pgQuery,.shousuo,.totalPages{
    position: fixed;
    width: 100px;
    height: 40px;
    bottom: 10px;
}
.pgUp{
    right: 120px;
}
.pgDn{
    right: 10px;
}
.pgQuery{
    right: 230px;
}
.shousuo{
    width: 40px;
    right: 340px;
    text-indent: 5px;
}
.totalPages{
    background-color: rgb(37,42,48);
    width: 80px;
    right: 390px;
    text-align: center;
    line-height: 40px;
    color: white;
}
.page22{
    width: 600px;
    height: 600px;
}
.page2 .ques{
    width: 100%;
    padding: 25px;
}
