body{
    margin: 0;
    font-family: 微软雅黑;
}

.phoneQuery,.passwordQuery{
    width: 90%;
    height: 100px;
    font-size: 50px;
    display: block;

    border: gainsboro solid 2px;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 60px;
    text-indent: 20px;

    max-width: 800px
}
.button{
    display: block;
    width: 90%;
    max-width: 800px;
    height: 100px;
    background-color: deepskyblue;
    margin: 0 auto;
    margin-top: 70px;
    font-size: 50px;
    color: white;
    border-radius: 6px;
}


.uerTell,.uerYnzm,.uerCom,.uerPost{
    color: rgb(100,100,100);
    margin: 40px;
    font-size: 38px;
    border-bottom: rgb(50,50,50) solid 1px;
}
.uerName{
    display:inline-block;
    font-size: 50px;
    height: 200px;
    position: relative;
    top: -80px;
    left: 30px;
    line-height: 300px;
    color: black;
    padding-top: 50px;
}
.queryPage{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.resultQuery{
    display: none;
    width: 100%;
    height: 100%;
    top: 100%;
    position: absolute;
    background-color: rgb(250,250,250);
}
.img{
    width: 200px;
    height: 200px;
    position: relative;
}
.information{
    margin-top: -80px;
    background-color: rgb(240,240,240);
    padding: 20px;
}
.tips{
    padding: 10px;
    text-align: center;
    font-size: 50px;
    color: red;
}
.startTest{
    display: block;
    width: 100%;
    height: 200px;
    outline: none;
    background-color: rgb(43,43,43);
    font-size: 50px;
    margin: 0 auto;
    color: white;
    margin-top: 50px;
}
.resultGraph{

    position: fixed;
    margin: auto;
    top: 700px;
    bottom: 0;
    right: 0;
    left: 0;

    width: 300px;
    height: 300px;
    background:  rgb(45, 45, 45);
    border: rgb(240, 240, 240) solid 5px;
    border-radius: 300px;

    color: rgb(240, 240, 240);
    line-height: 300px;
    font-size: 50px;
    text-align: center;

}
.start {

    position: fixed;
    margin: auto;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;

    -webkit-transition: background 0.25s;
    -webkit-transition: border-radius 1s;



    width: 300px;
    height: 300px;
    background: rgb(240, 240, 240);
    border: rgb(45, 45, 45) solid 5px;
    border-radius: 300px;

    color: rgb(45, 45, 45);
    line-height: 300px;
    font-size: 50px;
    text-align: center;
}

.page2 {
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    position: absolute;
}

.clock {
    padding: 30px;
    color: deepskyblue;
    font-size: 60px;
    text-align: center;
    width: 200px;
    float: right;
}

.page2 {
    display: none;
    position: relative;
    z-index: 999;
}

.question {
    padding-top: 145px;
    padding-left: 40px;
    padding-right: 20px;
    font-size: 50px;
}

.A, .B, .C, .D {
    padding: 20px;
    width: 90%;
    min-height: 150px;
    margin: 0 auto;
    background-color: white;
    font-size: 35px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    border: white 5px solid
}

.A {
    margin-top: 80px;
}

.B, .C, .D {
    margin-top: 36px;
}
.upPage,.dnPabe{
    width: 300px;
    height: 90px;
    line-height: 90px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(50,50,50);
    color: white;
    position: fixed;
    bottom:  20px;
    outline: none;
}
.upPage:active,.dnPabe:active{
    background-color: deepskyblue;
}
.upPage{
    left: 20px;
}
.dnPabe{
    right: 20px;
}
.quesAry{
    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.space{
    width: 100%;
    height: 200px;
}
